<br />
<div class="container">
  <div class="col-md-8 offset-md-2">
    <%= simple_form_for @amenity, url: host_room_amenities_path(@room) do |f| %>

    <div class="card test-white">
      <div class="card-header bg-dark">
        Room Amenities
      </div>
      <div class="card-body">
        <div class="col-12">
        <div class="row">
          <div class="col-md-4">
            <%= f.check_box :kitchen, as: :check_boxes %> Kitchenette
          </div>

          <div class="col-md-4">
            <%= f.check_box :restaurant, as: :check_boxes %> Restaurant
          </div>
          <div class="col-md-4">
            <%= f.check_box :internet, as: :check_boxes %> Free Wifi
          </div>
        </div>
        <br />


        <div class="row">
          <div class="col-md-4">
            <%= f.check_box :air, as: :check_boxes %> Air Conditioning
          </div>

          <div class="col-md-4">
            <%= f.check_box  :swimming, as: :check_boxes %> Swimming Pool
          </div>

          <div class="col-md-4">
            <%= f.check_box :tv, as: :check_boxes %> Tv
          </div>
        </div>
        <br />

        <%= f.submit "Publish", class: "btn btn-danger" %>

        <%= f.button :button, "Cancel", type: "cancel", class: "btn-outline-primary" %>
        <% end %>
      </div>
    </div>
  </div>
  </div>
</div>

     

<div class="col-md offset-1">
  <%= link_to 'Back', host_room_path(@room) %>
</div>



