
   <br />
   <div class="conatiner">
   <div class="row">
   <div class="col-md-3">
   <%= render 'host/rooms/room_menu' %>
</div>

  <div class="col-9 offset-1 col-sm-8 col-md-6">
        <div class="card test-white">
         <div class="card-header">
        <h4 class="text-center">Details of your room</h4>
      </div>
     <div class="card-body">
  <%= form_for @amenity, url: host_room_amenities_path(@room) do |f| %>
  <div class="row">
    <div class="col-md-4  select">
      <div class="form-group">
        <label>Home Type</label>
        <%= f.select :hometype, [["Apartment", "Apartment"], ["House", "House"], ["Hotel", "Hotel"], ["Resort", "Resort"], ["Villa", "Villa"]], id: "home_type", prompt: "Select...", class: "form-control form-control-lg" %>
      </div>
    </div> 

    <div class="col-md-4 select">
     <div class="form-group">
      <label>Room Type</label>
      <%= f.select :roomtype, [["Single room", "Single room"], ["Double-room", "Double-room"], ["One-Bedroom", "One-Bedroom"]],
      id: "home_type", prompt: "Select...", class: "form-control form-control-lg" %>
    </div>
  </div> 


   

  <div class="col-md-4 select">
   <div class="form-group">
    <label>Bathroom</label>
    <%= f.select :bathroom, [["1", 1], ["2", 2], ["3", 3]],
    id: "home_type", prompt: "Select...", class: "form-control-lg" %>
  </div>
</div> 
</div>


   <div class="row">
  <div class="col-md-4 select">
    <div class="form-group">
       <label>Bed</label>
       <%= f.select :bedroom, [["1", 1], ["2", 2], ["3", 3]],
      id: "home_type", prompt: "Select...", class: "form-control-lg" %>
    </div>
  </div>

     

    <div class="col-md-4 select">
     <div class="form-group">
       <label>Adults</label>
      <%= f.select :accommodate, [["1", 1], ["2", 2], ["3", 3], ["4", 4], ["6", 6]],
      id: "home_type", prompt: "Select...", class: "form-control" %>
    </div>
  </div> 


 
 <div class="col-md-4 select">
     <div class="form-group">
      <label>Children</label>
       <%= f.select :accommodate, [["0", 0], ["1", 1], ["2", 2], ["3", 3]],
    id: "home_type", prompt: "Select...", class: "form-control-lg" %>
    </div>
</div>
</div>
<br />



<div class="form-group">
  <div class="row">
    <div class="col-md-4">
      <%= f.check_box :tv %> TV
    </div>
    <div class="col-md-4">
      <%= f.check_box :kitchen %> Kitchen
    </div>
    <div class="col-md-4">
      <%= f.check_box :internet %> Free wifi
    </div>
  </div>
  </div>


<div class="form-group">
  <div class="row">
    <div class="col-md-4">
      <%= f.check_box :swimming %> Swimming pool
    </div>
    <div class="col-md-4">
      <%= f.check_box :restaurant %> Restaurant
    </div>

    <div class="col-md-4">
      <%= f.check_box :air %> Air conditioning
    </div>
  </div>
  </div>
  <br />


     <div class="row">
    <div class="col-4">
    <%= f.submit "Preview", class: "btn btn-dark " %>
  </div>
  <br />
  <br />

      
      <div class="col-4">
      <span><%= f.submit "Create Room", class: " btn btn-danger" %></span>
    </div>
    </div>
  <br />
 </div>
  <% end %>
</div>
</div>
</div>
</div>


