<br ><br />
<div class="row">
  <div class="form_main">
    <div class="box col-10 offset-1">

    <h2 class="text-center">Sign up </h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

 
   <div class="form-inputs">
      <%= f.input :fullname,required: true, autofocus: true, input_html: { autocomplete: "fullname" }%>
    </div>

    

   <div class="form-group">
      <%= f.email_field :email, autofocus: true, placeholder: "Email", class: "form-control" %>
    </div>
 
   <div class="form-group">
        <%= f.password_field :password, autocomplete: "off", placeholder: "Password", class: "form-control" %>
      </div>

   <div class="form-group">
        <%= f.password_field :password, autocomplete: "off", placeholder: "confirm password", class: "form-control" %>
      </div>
 
  <br />

   <div class="form-actions">
    <a><%= f.submit "Create Account", class: 'my-btn btn-danger' %> </a>
     <div class="form-actions">
    <%= link_to "Sign up with Facebook",user_facebook_omniauth_authorize_path, class: "btn btn-primary" %>
  </div>

  </div>
<% end %>
<br />


<hr />


<a>Already a user?</a>  <%= link_to "Log in", new_session_path(resource_name) %>
</div>
</div>
</div>
</div>









