
<div class="container">
 <h1>Enter Your Listing Details</h1>
  <%= simple_form_for @room, url: host_room_photos_path(@room), method: 'post', html: {multipart: true} do |f| %>
  <%= f.file_field :images, multiple: true, direct_upload: true %><br>
  <%= f.input :caption %>
  <br />
  <%= f.submit 'Add photo', class: 'btn btn-primary' %>
  <% end %>
</div>
</div>


<!--  -->

  <div class="col-md-9">
    <div class="card">

      <div class="card-header">
        Photos
      </div>

      <div class="panel-body">
        <div class="container">
          <div class="row">
            <div class="col-md-offset-3 col-md-6">
              <!-- PHOTOS UPLOAD GOES HERE -->

              <%= form_for @room, url: host_room_photos_path(@room), method: 'post', html: {multipart: true} do |f| %>
                <div class="row">
                  <div class="form-group">
                    <span class="btn btn-default btn-file text-babu">
                      <i class="fa fa-cloud-upload" aria-hidden="true"></i> Select Photos
                    <%= f.file_field :images, multiple: true, direct_upload: true %><br>
                    </span>
                  </div>
                </div>

                <div class="text-center">
                  <%= f.submit "Add Photos", class: "btn btn-form" %>
                </div>

              <% end %>
            </div>
          </div>

          <div id="photos"><%= render 'host/photos/photos_list' %></div>
        </div>
      </div>

    </div>
  </div>
</div>
