
<div class="box col-10 offset-1">
  <div class="row">
    <div class="col-sm-4">
      <% if current_user.avatar.attached? %>
      <%= image_tag current_user.avatar, class: "avatar2" %>
      <% else %>
      <%= image_tag gravatar_image_url(current_user.email), class: "avatar2" %>
      <% end %>
    </div>

    <div class="col-sm-4"><br />
      <h4><%= @user.fullname %></h4><br />
      <h5>Member Since: <%= @user.created_at.strftime("%B %d, %Y") %></h5><br />
      <h6><%= @user.email %></h6><br />
      <h6><%= @user.phone_number%></h6>
    </div>



<%= render 'users/sidebar' %>

<br />


  <div class="container">
  <div class="col-md-9">

  <h5>About me</h4><br />

    <h2><%= @user.fullname %></h2>

    <div class="description row-space-3">
      <%= @user.description %>
    </div><br />

    <h4>Listings (<%= @rooms.length %>)</h4><br/>

</div>






   <div class="col-10 offset-1">
    
    <div class="card">
      <div class="card-header white">
        <h3>Your Listings</h3>
      </div>
      <div class="card-body">
        <% @rooms.each do |room| %>
        <div class="row">
          <div class="col-md-2">
              <% if room.image.attached? %><%= image_tag room.image, width: "100%", height: "100%"  %>
            <% end %>
          </div>
          <div class="col-md-7">
         <%= link_to room.listing_name, room %>
          </div>
        </div>
        <hr />
        <% end %>
      </div>
    </div>
  </div>
  
   