
<div class="jumbotron jumbotron-fluid"style="background-color:  #212529;">
  <div class="container">
    <h2 class="display-4">Home Rentals For Short Staycation</h2>
    <p>Experience hospitality like never before.</p>
   </div>


  <div class="container">
    <div class=" box col-md-12">
      <br />
    <%= form_tag  search_path, method: :get do %>
    <div class="row">
      <div class="col-md-5 where">
        <%= text_field_tag :search, params[:search], placeholder: 'Where are you going?   eg. New York', class: "form-control searche", id: "autolocation"%><br />
      </div>
      <div class="col-md-2 search">

        <%= text_field_tag :start_date, params[:start_date], placeholder: "Check In", class: "form-control datepicker" %><br />

      </div>
      <br /><br />

      <div class="col-md-2 search">
    
        <%= text_field_tag :end_date, params[:start_date], placeholder: "Check Out", class: "form-control datepicker" %>
      </div><br />

     


      <div class="col-md-3 search">
    
        <%= submit_tag "Search", class: " form-control search search btn btn-danger btn-block" %>
      </div>
    </div>
  </div>
  <% end %>
</div>
</div>





<br /><br />
<div class="container">
  <div><h3>Featured Homes</h3></div>
  <br /> 
  <div class="row">
    <% @rooms.each do |room| %>
    <div class="col-md-4 col-sm-12">
      <div class="card"> 
    <% if room.images.attached? %><%= image_tag room.images.last, width: "100%", height: "180px%" %>
            <% end %>
        <div class="card-body"> 
          <h4><%= link_to room.listing_name, room_path(room) %></h4>  
          <p class="card-text"><%= room.address %></p>
     
            <div id="rate"><span> $<%= room.rate %></span></div>
            <%= pluralize(room.reviews.count, "Reviews") %>

          <br /><br />
          <%= link_to 'Book Now', room_path(room), class: " btn btn-danger btn-sm" %><br /><br />
        </div> 
      </div>
    </div>
    <% end %>
  </div>
</div>
<br />

<div class="container">
<div class="jumbotron card card-image">
  <div class="text-white text-center py-5 px-4">
    <div>
      <h2 class="card-title h1-responsive pt-3 mb-5 font-bold"><strong>MAKE YOUR DREAM TRIP</strong></h2>
  
      <a class="btn btn-danger"></i>Find Destinations</a>
    </div>
  </div>
</div>
</div>
<br />


<div class="container">
<div><h3>Top Destinations</h3></div>

<br />
<div class="row">
  <div class="col-md-3 col-sm-12">
    <a href="https://hospitality-ruky-a.herokuapp.com/search?utf8=%E2%9C%93&search=paris">
      <div class="places-card" style="background-image: url('/assets/paris.jpg')"><br /><h3 class="text-center">PARIS</h3></div>
    </a>
  </div>
  <div class="col-md-3 col-sm-12">
    <a href="https://hospitality-ruky-a.herokuapp.com/search?utf8=%E2%9C%93&search=london&start_date=&end_date=&commit=Search">
       <div class="places-card" style="background-image: url('/assets/london.jpg')"><br /><h3 class="text-center">LONDON</h3></div>
    </a>
  </div>
  <div class="col-md-3 col-sm-12">
    <a href="https://hospitality-ruky-a.herokuapp.com/search?utf8=%E2%9C%93&search=africa"> <div class="places-card" style="background-image: url('/assets/africa.jpg')"><br /><h3 class="text-center">SOUTH AFRICA</h3></div>
    </a>
  </div>
    
    <div class="col-md-3 col-sm-12">
    <a href="https://hospitality-ruky-a.herokuapp.com/search?utf8=%E2%9C%93&search=new-york">
       <div class="places-card" style="background-image: url('/assets/new York.jpg')"><br /><h3 class="text-center">NEW YORK</h3></div>
    </a>
  </div>
</div>
</div>


<br />
<br />




<br />


<script>
  $('#start_date').datepicker({
    dateFormat: 'dd-mm-yy',
    minDate: 0,
    maxDate: '6m',
    onSelect: function(selected) {
      $('#end_date').datepicker("option", "minDate", selected);
      $('#end_date').attr("disabled", false);

    }
  });


  $('#end_date').datepicker({
    dateFormat: 'dd-mm-yy',
    minDate: 0,
    maxDate: '6m',
    onSelect: function(selected) {
      $('#start_date').datepicker("option", "maxDate", selected);   

    }
  });

  $(function() {
    $("#autolocation").geocomplete();
  })
</script>


