<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h2 class="display-4">Home Rentals For Short Staycation</h2>
    <p class="lead">Experience is the best way to understand hospitality.</p>

    <p class="lead"></p><br /><br />
  </div>

  <div class="container">
    <%= form_tag  search_path, method: :get do %>
    <div class="row">
      <div class="col-md-4">
        <%= text_field_tag :search, params[:search], placeholder: 'Where are you going?', class: "form-control", id: "autolocation"%><br />
      </div>
      <div class="col-md-2 search">
        <%= text_field_tag :start_date, params[:start_date], placeholder: "Check_in", class: "form-control datepicker" %>
      </div>
      <br /><br />

      <div class="col-md-2 search">
        <%= text_field_tag :end_date, params[:start_date], placeholder: "Check_out", class: "form-control datepicker" %><br />
      </div>


      <div class="col-md-2 search">
        <%= submit_tag "Search", class: " form-control search btn btn-dark btn-block" %>
      </div>
    </div>
  </div>
  <% end %>
</div>
<br />



<div class="container">
  <div><h3>Featured Homes</h3></div>
  <br /> 
  <div class="row">
    <% @rooms.each do |room| %>
    <div class="col-md-4 col-sm-12">
      <div class="card"> 
    <% if room.image.attached? %><%= image_tag room.image.variant(resize: "380x280") %>
            <% end %>
        <div class="card-body"> 
          <h4 class="card-title"><%= link_to room.listing_name, room_path(room) %></h4>  
          <p class="card-text"><%= room.address %></p>
          <div class="footer">
            <span> $<%= room.rate %></span>
            <span>Per Night</span><br />
            <%= pluralize(room.reviews.count, "Reviews") %>
              

          </div>
          <br />
          <%= link_to 'Book Now', room_path(room), class: " btn btn-danger btn-sm" %>
        </div> 
      </div>
    </div>
    <% end %>
  </div>
</div>
<br />


<div class="container">
<div class="row">
  <div class="col-md-3 col-sm-12">
    <a href="http://localhost:3030/search?utf8=%E2%9C%93&search=paris">
      <div class="just-places" style="background-image: url('/assets/cruise.jpg')"><br /><h3 class="text-center">Tripsort Deals</h3><br /><br /><h4 class="text-center">Cruise Summer Vacation</h4></div>
    </a>
  </div>
</div>
<br /><br />

<div class="container">
<div><h3>Top Destinations</h3></div>

<br />
<div class="row">
  <div class="col-md-3 col-sm-12">
    <a href="http://localhost:3030/search?utf8=%E2%9C%93&search=paris">
      <div class="places-card" style="background-image: url('/assets/Paris.jpg')"><br /><h3 class="text-center">PARIS</h3></div>
    </a>
  </div>
  <div class="col-md-3 col-sm-12">
    <a href="http://localhost:3030/search?utf8=%E2%9C%93&search=london&start_date=&end_date=&commit=Search">
       <div class="places-card" style="background-image: url('/assets/London.jpg')"><br /><h3 class="text-center">LONDON</h3></div>
    </a>
  </div>
  <div class="col-md-3 col-sm-12">
    <a href="http://localhost:3030/search?utf8=%E2%9C%93&search=africa">
       <div class="places-card" style="background-image: url('/assets/Africa.jpg')"><br /><h3 class="text-center">AFRICA</h3></div>
    </a>
  </div>
    
    <div class="col-md-3 col-sm-12">
    <a href="http://localhost:3030/search?utf8=%E2%9C%93&search=new-york">
       <div class="places-card" style="background-image: url('/assets/New York.jpg')"><br /><h3 class="text-center">NEW YORK</h3></div>
    </a>
  </div>
</div>
</div>
    
    



<br />


<script>
  $('#start_date').datepicker({
    dateFormat: 'dd-mm-yy',
    minDate: 0,
    maxDate: '6m',
    onSelect: function(selected) {
      $('#end_date').datepicker("option", "minDate", selected);
      $('#end_date').attr("disabled", false);

    }
  });


  $('#end_date').datepicker({
    dateFormat: 'dd-mm-yy',
    minDate: 0,
    maxDate: '6m',
    onSelect: function(selected) {
      $('#start_date').datepicker("option", "maxDate", selected);   

    }
  });

  $(function() {
    $("#autolocation").geocomplete();
  })
</script>


