
<div class="box col-10 offset-1">
  <div class="row">
    <div class="col-sm-4">
      <% if current_user.avatar.attached? %>
      <%= image_tag current_user.avatar, class: "avatar2" %>
      <% else %>
      <%= image_tag gravatar_image_url(current_user.email), class: "avatar2" %>
      <% end %>
    </div>

    <div class="col-sm-4"><br />
      <h4><%= current_user.fullname %></h4><br />
      <h5>Member Since: <%= current_user.created_at.strftime("%B %d, %Y") %></h5><br />
      <h6><%= current_user.email %></h6><br />
      <h6><%= current_user.phone_number%></h6>
    </div>



    <div class="col-md-4">
      <ul class="sidebar-list">
        <li class="sidebar-item"><%= link_to "Edit Profile", edit_user_registration_path, class: "sidebar-link active" %></li>
        <li class="sidebar-item"><%= link_to "bookings", your_bookings_path, class: "sidebar-link active" %></li>
          <li class="sidebar-item"><%= link_to "Reservations", your_reservations_path, class: "sidebar-link active" %></li>
      </ul>
    </div>
  </div>
</div>

<% if @bookings.count == 0 %>
  <div class="text-center">
    <h4>You have no bookings.</h4>
  </div>
<% else %>
<div class="col-10 offset-1">
  <div class="card">
     <div class="card-header">
      <h3>Your Bookings</h3>
    </div>
      <% @bookings.each do |booking| %>
   
    <div class="card-body">

    
      <div class="row">
        <div class="col-md-2">
          <%= booking.start_date.strftime('%v') %>  to
            <%= booking.end_date.strftime('%v') %>
            <br />
            <%= booking.status %>
        </div>
        <div class="col-md-2">
          <%= link_to room_path(booking.room) do %>
            <%= link_to booking.room.listing_name, room_path(booking.room) %>
      <%= image_tag booking.room.images.first, width: "200px", height: "180px"  %>
        <% end %> 
     
        </div>
        <br /><br />
        <div class="col-md-4">
          <%= link_to user_path(booking.room.user) do %>
              <% if booking.room.user.avatar.attached? %>
            <%= image_tag booking.room.user.avatar, class: "rounded-circle", size: 40 %>
            <%= booking.room.user.fullname %>
            <% end %>
            <% end %>
          </div>
     
            <div class="col-md-4">
              <%= render partial: "reviews/review_new", locals: {reservation: booking} if booking.Approved?%>
            </div>
        </div>
      </div>
      <hr>   
      <% end %>
    </div>
  </div>
</div>
</div>
</div>
<% end %>




