  
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="/assets/luxury2.jpg">
    </div>
    <div class="carousel-item">
     <img class="d-block w-100" src="/assets/home.jpg">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="/assets/luxury3.jpg">
    </div>
  </div>
</div>


<br /><br />
<div class="container"> 
  <div class="row">
    <% @rooms.each do |room| %>
    <div class="col-md-4">
      <div class="card"> 
        <% if room.images.attached? %><%= image_tag room.images.first, width: "100%", height: "180px"  %>
        <% end %>
        <div class="card-body"> 
          <h3 class="card-title"><%= link_to room.listing_name, room_path(room) %></h3>  
          <p class="card-text"><%= room.address %></p>
          <div class="footer">
            <span> $<%= room.rate %></span>
            <span>Per Night</span>
            <br />
      <%= pluralize(room.guest_reviews.count, "review") %>
          </div>
          <br />
          <%= link_to 'Book Now', room_path(room), class: " btn btn-danger btn-sm" %>

        </div> 

      </div>
    </div>
      <script>
      $('#star_<%= room.id %>').raty({
        path: '/assets',
        readOnly: true,
        score: <%= room.average_rating %>
      });
    </script>
    <% end %>
  </div>
</div>










