<br />

<div class="container"> 
  <div class="row">
<% @rooms.each do |room| %>
  <div class="col-md-4">
    <div class="card"> 
     <% if room.image.attached? %><%= image_tag room.image.variant(resize: "500x280") %>
      <div class="card-body"> 
          <h3 class="card-title"><%= link_to room.listing_name, room_path(room) %></h3>  
              <p class="card-text"><%= room.address %></p>
               <div class="footer">
                  <span> $<%= room.rate %></span>
                  <span>Per Night</span>
                </div>
                <br />
            <%= link_to 'Book Now', room_path(room), class: " btn btn-danger btn-sm" %>

                </div> 
             <% end %>
            </div>
            </div>
         <% end %>
          </div>
          </div>
   

          <br />



