<nav class="navbar navbar-expand-lg navbar-dark" style="background-color:  #ab150a; padding: 0px;">
  <div class="container">

   <!--  <%= image_tag 'logo.png' %> -->
    <%= link_to 'Tripsort', root_path, class: 'navbar-brand' %>
   
   


    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav mr-auto"><li class="nav-item active"></li></ul>



      <ul class="navbar-nav navbar-right">
         <li class="nav-item active"></li>

        <% if !user_signed_in? %>
        <li class="nav-item active">  
          <%= link_to 'Log in', new_user_session_path, class: 'nav-link' %>
        </li>


        <li class="nav-item link active">
          <%= link_to 'Sign up', new_user_registration_path, class: 'nav-link' %></li>

          <% else %>


          <li class="nav-item dropdown active">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <% if current_user.avatar.attached? %>
              <%= image_tag current_user.avatar, class: "rounded-circle", size: 40 %>
              <% else %>
              <%= image_tag gravatar_image_url(current_user.email), class: "rounded-circle",size: 40 %>
              <% end %>
              Hi, <%= current_user.fullname%> <span class="caret"></span>

            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><%= link_to "My Dashboard", dashboard_path %></li>
              <li><%= link_to "My Profile", user_path(current_user) %></li>
              <div class="dropdown-divider"></div>
              <li><%= link_to "Edit Profile", edit_user_registration_path %></li>
               <li><%= link_to "Account Settings", payment_method_path %></li>
              <li><%= link_to 'Sign out', destroy_user_session_path, method: :delete %></li>
            </ul>
            <% end %>
          </li>   
        </ul> 
        <%= link_to new_host_room_path, class: 'btn btn-success host' do %>
          Become a host
          <% end %>
      </div>
    </nav>
    
    <% if (user_signed_in?) && !current_page?(root_path) && !current_page?("/rooms/#{params[:id]}") %>

    <nav class="navbar navbar-expand navbar-dark"style="background-color: #3e2723;">
          <div class="container">
        <ul class="navbar-nav">
           <% if current_page?(dashboard_path) %>
              <li class="nav-item"> 
            <%= link_to "My Dashboard", dashboard_path, class: 'nav-link' %>
            <% end %>
              </li>
             
              <li class="nav-item-active ">
                <%= link_to "Manage Listing", host_rooms_path, class: 'nav-link' %>
              </li>
               </ul>
             </div>
           </nav>

            <% end %>