
<div class="box col-10 offset-1">
  <div class="row">
    <div class="col-sm-4">
      <% if current_user.avatar.attached? %>
      <%= image_tag current_user.avatar, class: "avatar2" %>
      <% else %>
      <%= image_tag gravatar_image_url(current_user.email), class: "avatar2" %>
      <% end %>
    </div>

    <div class="col-sm-4"><br />
      <h4><%= current_user.fullname %></h4><br />
      <h5>Member Since: <%= current_user.created_at.strftime("%B %d, %Y") %></h5><br />
      <h6><%= current_user.email %></h6><br />
      <h6><%= current_user.phone_number%></h6>
    </div>



    <div class="col-md-4">
      <ul class="sidebar-list">
        <li class="sidebar-item"><%= link_to "Edit Profile", edit_user_registration_path, class: "sidebar-link active" %></li>
        <li class="sidebar-item"><%= link_to "bookings", your_bookings_path, class: "sidebar-link active" %></li>
          <li class="sidebar-item"><%= link_to "Reservations", your_reservations_path, class: "sidebar-link active" %></li>
      </ul>
    </div>
  </div>
</div>

<br />

  <div class="col-8 offset-2">
    <div class="card">
      <% @rooms.each do |room| %>
      <div class="card-header bg-secondary">
        <h3>Your Listings</h3>
      </div>
      <div class="card-body">
        
        <div class="row">
          <div class="col-md-2">
               <p><%= room.listing_name %></p>
            <% if room.images.attached? %><%= image_tag room.images.first, width: "280px", height: "180px" %>
         <% end %> 
          </div>
          <div class="col-md-7">
         
          </div>
          <div class="col-md-3 right">
            <%= link_to "Update", host_room_path(room), class: "btn btn-danger" %>
          </div>
        </div>
        <hr />
        <% end %>
      </div>
    </div>
  </div>
  




  <style>
    html, body {
      height: 100%;
      margin: 0;
      padding: 0;
    }
    #map {
      height: 100%;
    }
  </style>
  </head>
  <body>
  <div id="map"></div>
  <script>

    function initMap() {
      var myLatLng = {lat: -25.363, lng: 131.044};

      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 4,
        center: myLatLng
      });

      var marker = new google.maps.Marker({
        position: myLatLng,
        map: map,
        title: 'Hello World!'
      });
    }
  </script>


  <script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBc6bNlBjr2qhUDAPTIAGp9VdyAeNYXICk&callback=initMap">
  </script>

    <div id="map"></div>



