

<br /><br>
 <div class="container">
  <div class="row">
 <div class="col-md-8 offset-md-2">
        <div class="card test-white">
         <div class="card-header">
        <h4 class="text-center">Add your Listing Details</h4>
      </div>
     <div class="card-body">
  <%= simple_form_for @room, url: host_rooms_path do |f| %>
    <%= f.input :listing_name %>
      <%= f.input :address %>
   <%= f.text_area :description, rows: 5, placeholder: "Write a brief description of your home", class: "form-control", required: true %>
  
    <%= f.input :rate %>
    <br />
    <%= f.submit "Create", class: 'btn btn-primary' %>
    <br />
  </div>
</div>
  <% end %>
  <br />
</div>
</div>
</div>
</div>
</div>



