<br />
    
<div class="container">
<div class="col-md-6 offset-md-3">

  <%= form_for @room, url: host_rooms_path do |f| %>

  <div class="card test-white">
      <div class="card-header bg-dark">
          <h4 class="text-center">Add your Listing Details</h4>
        </div>
        <div class="card-body">
          

          <%= f.text_field :listing_name, placeholder: "Listing name", class: "form-control", required: true %><br />
       
          <%= f.text_field :address, placeholder: "Address", class: "form-control", required: true %><br />


          <%= f.text_area :description, rows: 5, placeholder: "Write a brief description of your home", class: "form-control", required: true %>
          <br />

          <div class="col-md-4">
          
            <%= f.text_field :rate, placeholder: "Rate, eg: $100", class: "form-control", required: true %><br />
          </div>

        

          <div class="col-md-4">
            <%= f.file_field :images, multiple: true %><br>
          </div><br />



          <br />

          <div class="text-center">
            <%= f.submit "Publish", class: "btn btn-danger btn-block" %><br>
             <%= button_tag "Reset", type: :reset %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  





