<br /><br>
 <div class="container">
  <div class="row">
 <div class="col-md-8 offset-md-2">
        <div class="card test-white">
         <div class="card-header">
        <h4 class="text-center">Add your Listing Details</h4>
      </div>
     <div class="card-body">
        <%= form_for @room, url: host_rooms_path do |f| %>
         <%= f.text_field :listing_name, placeholder: "Listing name", class: "form-control", required: true %>
         <br />
         <%= f.text_field :address, placeholder: "Address", class: "form-control", required: true %><br />
         <%= f.text_area :description, rows: 5, placeholder: "Write a brief description of your home", class: "form-control", required: true %>
       <br />
      

      <%= f.label :image %>
    <%= f.file_field :image %>

  

       <div class="field">

  
       <p class="text-center"><%= f.submit "Save", class: 'btn btn-dark' %></p>
      </div>
    </div>
  <% end %>
  <br />
</div>
</div>
</div>
</div>
</div>



