
<br />


  <h1 class="text-center"><%= @room.listing_name %></h1>
  <p class="text-center"><%= @room.address %></p>
  <p class="text-center"><%= @room.description%></p>




<br />

 <div class="text-center">
    <%= link_to 'Add Amenities...', new_host_room_amenity_path(@room), class: 'btn btn-danger' %>
  </div>
  <br />
  <br />




<div class="col-md-8 offset-md-3">
<div class="form-group">
  <div class="row text-center">
    <div class="col-md-2">
     <i class="fa fa-home fa-2x"></i>
    </div>
    <div class="col-md-2">
      <i class="fa fa-bed fa-2x"></i> 
    </div>
    <div class="col-md-2">
   <i class="fa fa-bath fa-2x"></i>
    </div>

     <div class="col-md-2">
     <i class="fa fa-user-circle-o fa-2x"></i>
    </div>
  </div>
</div>






 <% @room.amenities.each do |amenity| %>
<div class="row text-center">
<div class="col-md-2"><%= amenity.hometype %></div>
<div class="col-md-2"><%= pluralize(amenity.bedroom, "Bedroom") %></div>
<div class="col-md-2"><%= pluralize(amenity.bathroom, "Bathroom") %></div>
<div class="col-md-2"><%= pluralize(amenity.accommodate, "Guest") %></div>
</div>
<% end %>
</div>
</div>
<br />




  <% if @room.latitude.present? && @room.longitude.present? %>
  
  
<script>

  function initMap() {
  var myLatLng = {lat: <%= @room.latitude %>, lng: <%= @room.longitude %>};

  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 12,
    center: myLatLng
  });

  var marker = new google.maps.Marker({
    position: myLatLng,
    map: map,
    title: 'Hello World!'
  });
  }
</script>
  <script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDVI2DOGtO42Xt_-e9elvVoFH2vL0WyaMI&callback=initMap">
  </script>
  <div id="map"></div>
  <% end %>


  <br />





















  
  





















