   <br />
   <div class="conatiner">
   <div class="row">
   <div class=" col-md-3">
    <%= render 'host/rooms/room_menu' %>
    <br />
  </div>


      
    <div class="col-md-9">
  <%= image_tag @room.image.variant(resize: "500x500") %>
   <h3><%= @room.listing_name %></h3>
     <p cla><%= @room.address %></p>
    <%= @room.description%></p>
      <div class="footer">
    <span></i> $<%= @room.rate %></span>
    <span>Per Night</span>
  </div>
  <br />
    </div>



  
   
      
    <div class="col-md-10 offset-md-1 text-center">
    <% @room.photos.each do |photo| %>
     <% if photo.images.attached? %>
  <% (0...photo.images.count).each do |image| %>
  <%= image_tag(photo.thumbnail(image) )%>
  <%= photo.caption %>
<% end %>
<% end %>
<% end %>
</div>
</div>
</div>






<br />








  
  





















