<br />
<div class="conatiner">
  <div class="row">
    <div class=" col-md-3">
      <%= render 'host/rooms/room_menu' %>

      <br />
    </div>


    <div class="col-md-9">
      <%= image_tag @room.image.variant(resize: "1200x500") %>
      <h3><%= @room.listing_name %></h3>
      <br />
     <%= link_to 'Preview As Guest...', room_path(@room), class: 'btn btn-warning' %>

    </div>

    <br class="clr" />
  </div>
  <br />
</div>
</div>


<% @room.amenities.each do |amenity| %>
<div class="container">
  <div class="row text-center row-space-1">
    <div class="col-md-3 ">
      <i class="fa fa-home fa-2x"></i>
    </div>


    <div class="col-md-3 ">
      <i class="fa fa-user fa-2x"></i>
    </div>

    <div class="col-md-3 ">
      <i class="fa fa-bed fa-2x"></i>
    </div>

    <div class="col-md-3">
      <i class="fa fa-bath fa-2x"></i>
    </div>

  </div>

  <div class="row text-center">
    <div class="col-md-3"><%= amenity.hometype %></div>
    <div class="col-md-3"><%= pluralize(amenity.accommodate, "Guest") %></div>
    <div class="col-md-3"><%= pluralize(amenity.bedroom, "Bedroom") %></div>
    <div class="col-md-3"><%= pluralize(amenity.bathroom, "Bathroom") %></div>
  </div>
  <% end %>
</div>
</div>
</div>

<br />



<%= render 'host/rooms/modal' %>

<%= render 'host/photos/photos_list' %>

</div>
</div>
<br />





<br />

<div class=" box col-md">
  <h6><%= @room.address %></h6>
  <% if @room.latitude.present? && @room.longitude.present? %>


  <script>

    function initMap() {
      var myLatLng = {lat: <%= @room.latitude %>, lng: <%= @room.longitude %>};

      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 12,
        center: myLatLng
      });

      var marker = new google.maps.Marker({
        position: myLatLng,
        map: map,
        title: 'Hello World!'
      });
      var infoWindow = new google.maps.InfoWindow ({
        content: '<div id="content"><%= image_tag @room.image.variant(resize: "280x180") %></div>'
      });
       
      infoWindow.open(map, marker);
    }

     google.maps.event.addDomListener(window, 'load', initialize);
  </script>
  <script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDVI2DOGtO42Xt_-e9elvVoFH2vL0WyaMI&callback=initMap">
</script>
<div id="map"></div>
<% end %>
</div>




