<br />
<div class="conatiner">
<div class="row">
<div class=" col-md-3">
<%= render 'host/rooms/room_menu' %>
<br />
</div>






<div class="col-md-9">
<%= image_tag @room.image.variant(resize: "500x500") %>
<h3><%= @room.listing_name %></h3>
<p cla><%= @room.address %></p>
<%= @room.description%></p>
<div class="footer">
<span></i> $<%= @room.rate %></span>
<span>Per Night</span>
</div>
<br />
</div>

<%= render 'host/rooms/modal' %>

<%= render 'host/photos/photos_list' %>

</div>
</div>
<br />








